<style type='text/css'>
.slide.intro .content .statement,
.slide.intro .content li {
    display: block;
    font-size: 1.5rem;
}

.slide.intro .content .bold {
    font-weight: bold;
}

.slide.intro .content span.statement1,
.slide.intro .content span.statement3,
.slide.intro .content ul li {
    display: none;
}

.slide.intro .content .statement3,
.slide.intro .content ul {
    clear: both;
}

.slide.intro .content .statement > span {
    float: left;
}    
</style>
<section class='intro slide'>
  <div class='spacer top'></div>
  <div class='content'>
    <h1>Jos&eacute; Cap&oacute;</h1>

    <div class='statement'>
        <span class='slide'></span>
        <span class='statement1'>MIT-educated&nbsp;</span>
        <span class='statement2'>Senior Agile Software Engineer</span>
        <span class='statement3'>seeking a full-time opportunity using</span>
        <ul>
            <li><span>Ruby on Rails,</span></li>
            <li>test-driven development (<span>TDD</span>), and</li>
            <li>pair programming.</li>
        </ul>
    </div>
  </div>
  <div class='spacer bottom'></div>
</section>