.keydown.deck-container .slide.further-info .content img {
    height: 2rem;
}

.keydown.deck-container .slide.further-info .content h3 a {
    color: #888;
}

.keydown.deck-container .slide.further-info .content p a code {
    color: #c00;
}
